[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/path/to/spydar.sh
Name=DNS Spider
Comment=A program to scan dns caches for domain names
Icon=/path/to/spydar/static/measure.png
Categories=Utility;Application;
Path=
StartupNotify=false

